<div class="form-group">
    <label for="date" class="col-sm-2 control-label">date</label>
    <div class="col-sm-10">
        <input type="text" ng-model="Flat.date" class="form-control" id="date" placeholder="Flat date" />
    </div>
</div>
<div class="form-group">
    <label for="price" class="col-sm-2 control-label">Price</label>
    <div class="col-sm-10">
        <input type="text" ng-model="Flat.price" class="form-control" id="price" placeholder="Flat price" />
    </div>
</div>
<div class="form-group">
    <label for="postcode" class="col-sm-2 control-label">Post Code</label>
    <div class="col-sm-10">
        <input type="text" ng-model="Flat.postcode" class="form-control" id="postcode" placeholder="Flat postcode" />
    </div>
</div>
<div class="form-group">
    <label for="type" class="col-sm-2 control-label">Type</label>
    <div class="col-sm-10">
        <input type="text" ng-model="Flat.type" class="form-control" id="type" placeholder="Flat type" />
    </div>
</div>
<div class="form-group">
    <label for="age" class="col-sm-2 control-label">age</label>
    <div class="col-sm-10">
        <input type="text" ng-model="Flat.age" class="form-control" id="age" placeholder="Flat age" />
    </div>
</div>
<div class="form-group">
    <label for="duration" class="col-sm-2 control-label">duration</label>
    <div class="col-sm-10">
        <input type="text" ng-model="Flat.duration" class="form-control" id="duration" placeholder="Flat duration" />
    </div>
</div>
<div class="form-group">
    <label for="saon" class="col-sm-2 control-label">saon</label>
    <div class="col-sm-10">
        <input type="text" ng-model="Flat.saon" class="form-control" id="saon" placeholder="Flat saon" />
    </div>
</div>
<div class="form-group">
    <label for="paon" class="col-sm-2 control-label">paon</label>
    <div class="col-sm-10">
        <input type="text" ng-model="Flat.paon" class="form-control" id="paon" placeholder="Flat paon" />
    </div>
</div>
<div class="form-group">
    <label for="street" class="col-sm-2 control-label">street</label>
    <div class="col-sm-10">
        <input type="text" ng-model="Flat.street" class="form-control" id="street" placeholder="Flat street" />
    </div>
</div>
<div class="form-group">
    <label for="locality" class="col-sm-2 control-label">locality</label>
    <div class="col-sm-10">
        <input type="text" ng-model="Flat.locality" class="form-control" id="locality" placeholder="Flat locality" />
    </div>
</div>
<div class="form-group">
    <label for="town" class="col-sm-2 control-label">town</label>
    <div class="col-sm-10">
        <input type="text" ng-model="Flat.town" class="form-control" id="town" placeholder="Flat town" />
    </div>
</div>
<div class="form-group">
    <label for="city" class="col-sm-2 control-label">city</label>
    <div class="col-sm-10">
        <input type="text" ng-model="Flat.city" class="form-control" id="city" placeholder="Flat city" />
    </div>
</div>
<div class="form-group">
    <label for="county" class="col-sm-2 control-label">county</label>
    <div class="col-sm-10">
        <input type="text" ng-model="Flat.county" class="form-control" id="county" placeholder="Flat county" />
    </div>
</div>



<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>